@model IList<PoC.WebUI.ViewModel.CompraViewModel>

@if (Model != null && Model.Count() > 0)
{
    <table id="dataTable" class="table table-striped table-bordered table-hover">
        <thead style="background-color: #f1f2f3;">
            <tr>
                <th class="col-sm-1">Id</th>
                <th class="col-sm-6">Nome</th>
                <th class="col-sm-5">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Produto.Id</td>
                    <td>@item.Produto.Nome</td>
                    <td>
                        <a id="btnExcluir" class="btn btn-danger btn-sm" title="Excluir Produto" onclick="setarRemoverProdutoRemover(@item.Produto.Id)"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div role="alert" class="alert alert-warning"><strong>Nenhum produto encontrado!</strong></div>
}